
<h2>会員の方はこちらからログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class ="form-row">
    <%= f.label :メールアドレス, class: "col-sm-offset-3 col-sm-3" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-6" %>
</div><br>

<div class ="form-row">
    <%= f.label :パスワード, class: "col-sm-offset-3 col-sm-3" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "col-sm-6" %>
</div><br>

<%= link_to "=>パスワードを忘れた方はこちら", new_password_path(resource_name) %><br />
  <div class="actions">
    <%= f.submit "ログイン", class: "btn btn-primary" %>
  </div>
<% end %>

<h2>登録がお済みでない方</h2><br>
<p><%= link_to "こちら", new_member_registration_path %>から新規登録を行ってください。</p>
