<%= stylesheet_link_tag 'orders' %>
<div class="most-outline" style="position: relative; height: 800px;">
  <h2 class="view-title">注文履歴詳細</h2>
  <div class="row">

    <table class="table table-borderless" style="margin-right: 10%;">
      <tr>
        <th class="col-xs-2">購入者</th>
        <th class="col-xs-9"><%= @order.address_name %></th>
      </tr>
      <tr>
        <th>配送先</th>
        <th><%= order.postal_code %><%= order.address %><br><%= order.address_name %></th>
      </tr>
      <tr>
        <th>支払方法</th>
        <th><%= order.postal_code %><%= order.address %><br><%= order.address_name %></th>
      </tr>
      <tr>
        <th>注文ステータス</th>
        <th>
          <%= form_with(model: @order, local: true) do |f| %>
            <%= f.select :order_status, 
                Order.order_statuses.keys, 
                :selected=>Order.order_statuses[order.order_status], prompt: "選択してください" %>
            <%= f.submit "更新", class: "btn btn-primary" %>
          <% end %>
        </th>
      </tr>
    </table>
  </div>

  <div class="row">
    <div class="col-md-9" style="position: absolute; bottom: 80px;">
      <table class="table table-borderless">
        <thead class="bg-light">
          <tr>
            <th class="col-xs-3">商品名</th>
            <th class="col-xs-2">単価（税込）</th>
            <th class="col-xs-1">個数</th>
            <th class="col-xs-2">小計</th>
            <th class="col-xs-3">製作ステータス</th>
            <th class="col-xs-1"></th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.items.name %></td>
              <td><%= order.items.price %></td>
              <td><%= order.order_detail.number %></td>
              <td><%= order.item.price * order.order_detail.number %></td>
              <td>
                <%= form_with(model: @order_detail, local: true) do |f| %>
                  <%= form.select :production_status, 
                      OrderDetail.production_statuses.keys, 
                      :selected=>OrderDetail.production_statuses[@order_detail.production_status] %>
                  <%= f.submit "更新", class: "btn btn-primary" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-3" style="position: absolute; bottom: 80px; right: -50px;">
      <table class="row table table-borderless">
        <tr>
          <th>送料</th>
          <th><%= 800.to_i %>円</th>
        </tr>
        <tr>
          <th class="col-xs-3">商品合計</th>
          <th><%= @total_price %>円</th>
        </tr>
        <tr>
          <th>請求金額合計</th>
          <th><%= @total_price + 800 %>円</th>
        </tr>
      </table>
    </div>
  </div>
</div> 
