  <h2>注文履歴詳細</h2>
<div class="row">
  <div style="width: 50%;">
    <h3>注文情報</h3>
    <table class="table table-bordered">
      <tr>
        <th class="col-xs-3 bg-light">注文日</th>
        <th><%= @order %></th>
      </tr>
      <tr>
        <th class="col-xs-3 bg-light">配送先</th>
        <th><%= @order.postal_code %><%= @order.address %><%= @order.address_name %></th>
      </tr>
      <tr>
        <th class="col-xs-3 bg-light">支払い方法</th>
        <th><%= @order.payment_method %></th>
      </tr>
      <tr>
        <th class="col-xs-3 bg-light">ステータス</th>
        <th><%= @order.order_status %></th>
      </tr>
    </table>
  </div>

  <div style="margin-left:30px; width: 30%;">
    <h3>請求情報</h3>
    <table class="table table-bordered">
      <tr>
        <th class="col-xs-6 bg-light">商品合計</th>
        <th><%= @order %></th>
      </tr>
      <tr>
        <th class="col-xs-6 bg-light">配送料</th>
        <th><%= @order.postage %></th>
      </tr>
      <tr>
        <th class="col-xs-6 bg-light">ご請求額</th>
        <th><%= @order.payment %></th>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div style="width: 65%;">
  <h3>注文内容</h3>
  <table class="table table-bordered">
    <thead>
      <tr class="table-active">
        <th class="col-xs-6">商品名</th>
        <th class="col-xs-3">単価（税込）</th>
        <th class="col-xs-1">個数</th>
        <th class="col-xs-1">小計</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.price %></td>
          <td><%= item.nember %></td>
          <td><%= item.price*item.number %></td>
        </tr>
      <% end %>
    </tbody>  
  </table>
  </div><!-- /.col-xs-7 -->
</div><!-- /.row -->